#certificates
global(
DefaultNetstreamDriverCAFile="/etc/rsyslog.d/ca.pem"
DefaultNetstreamDriverCertFile="/etc/rsyslog.d/machine-cert.pem"
DefaultNetstreamDriverKeyFile="/etc/rsyslog.d/machine-key.pem"
)

# make gtls driver the default
$DefaultNetStreamDriver gtls
$ActionSendStreamDriverMode 1	# run driver in TLS-only mode
$ActionSendStreamDriverAuthMode anon

local7.* @@glsrv:10514;RSYSLOG_SyslogProtocol23Format
