organization = "The First Lunar Expedition"
locality = "Space"
state = E1
country = UN
ca
# common name
cn = "weare.space"

expiration_days = 3660

# subjectAltNames
#dns_name = example.com
#signing_key
#encryption_key
cert_signing_key

