organization = "The First Lunar Expedition"
locality = "Space"
state = E1
country = UN
#ca
# common name
cn = "weare.space"

expiration_days = 1000

# subjectAltNames
#dns_name = example.com
signing_key
tls_www_client
tls_www_server
#encryption_key
#cert_signing_key

